{% extends 'loginbase.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card">
 <img src = "{{user.profile.image.url}}"width = "100%">
  <div class="container">
    <h1>{{user.username}}</h1>
    <h2>{{user.email}}</h2>
  </div>
</div>



    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{u_form|crispy}}
        {{p_form|crispy}}
        <button type="submit">update</button>

    </form>
<!-- {% if user.is_authenticated %}
                                    <a href = "{% url 'team-delete' 3 %}">team-delete</a>
                                    <a href = "{% url 'logout'%}">logout</a>

                {% else %}

                <a href = "{% url 'login'%}">login</a>
                <a href = "{% url 'signup'%}"> signup</a>
                {% endif %} -->

{% endblock content %}