{% extends "loginbase.html" %}
{% block content %}
<!-- make each task in boxes -->
    {% for task in tasks %}
       {% if task.creator == user %}
        <p>Task Tile = {{task}}</p>
        <p>Task Description = {{task.description}}</p>
        <p><b>Due Date </b>{{task.due_date|date:"F d, Y"}}</p>
<!-- make these align to the left -->
        <a href =" {% url 'task-update' task.id %}">update</a>
        <a href =" {% url 'task-delete' task.id %}">delete</a>
        <a href =" {% url 'task-create'  %}">create</a>

        <p>{{task.creator}}</p>
    {% endif %}
{% endfor %}
<a href =" {% url 'new'  %}">Team create</a>
<a href =" {% url 'task-create'  %}">create</a>
<a href = "{% url 'logout'%}">logout</a>
{% endblock content %}