{% extends "loginbase.html" %}
{% block content %}

        {% for t in Team %}

        <div class="card">
        <p>{{t.TeamName}}</p>
        <p>{{t.TeamLead}}</p>

        {% for m in t.MemberName.all %}
                {% if m != t.TeamLead %}
                <p>{{ m }} </p>
                {% endif %}
        {% endfor %}
        <br>

        <a href =" {% url 'team-details' t.id  %}"class="button">details</a>

                   </div>

        {% endfor %}

        <a href =" {% url 'new'  %}"class="button">Create new Team</a>




<a href = "{% url 'logout'%}">logout</a>
{% endblock content %}